'use strict'
let config = {};
// https://console.aws.amazon.com/iam/home#/users
config.accesKeyId = '';
config.secret = '';
// https://s3.console.aws.amazon.com/s3/home
config.bucketName = '';
config.region = '';
config.date = 'YYYY-MM-DD';
config.types = [
	'movie',
	'short',
	'tvEpisode',
	'tvMiniSeries',
	'tvMovie',
	'tvSeries',
	'tvShort',
	'tvSpecial',
	'video',
	'videoGame',
];
let i = 1;
let genres = {
	'Adventure': {
		'id': i++,
		'idStr': 'adventure'
	},
	'Crime': {
		'id': i++,
		'idStr': 'crime'
	},
	'Short': {
		'id': i++,
		'idStr': 'short'
	},
	'Adult': {
		'id': i++,
		'idStr': 'adult'
	},
	'Drama': {
		'id': i++,
		'idStr': 'drama'
	},
	'Romance': {
		'id': i++,
		'idStr': 'romance'
	},
	'Action': {
		'id': i++,
		'idStr': 'action'
	},
	'Western': {
		'id': i++,
		'idStr': 'western'
	},
	'Comedy': {
		'id': i++,
		'idStr': 'comedy'
	},
	'Horror': {
		'id': i++,
		'idStr': 'horror'
	},
	'Thriller': {
		'id': i++,
		'idStr': 'thriller'
	},
	'Documentary': {
		'id': i++,
		'idStr': 'documentary'
	},
	'War': {
		'id': i++,
		'idStr': 'war'
	},
	'Music': {
		'id': i++,
		'idStr': 'music'
	},
	'Family': {
		'id': i++,
		'idStr': 'family'
	},
	'Biography': {
		'id': i++,
		'idStr': 'biography'
	},
	'Fantasy': {
		'id': i++,
		'idStr': 'fantasy'
	},
	'Musical': {
		'id': i++,
		'idStr': 'musical'
	},
	'Mystery': {
		'id': i++,
		'idStr': 'mystery'
	},
	'Sci-Fi': {
		'id': i++,
		'idStr': 'sci-fi'
	},
	'Sport': {
		'id': i++,
		'idStr': 'sport'
	},
	'Animation': {
		'id': i++,
		'idStr': 'animation'
	},
	'Talk-Show': {
		'id': i++,
		'idStr': 'talk-show'
	},
	'Game-Show': {
		'id': i++,
		'idStr': 'game-show'
	},
	'History': {
		'id': i++,
		'idStr': 'history'
	},
	'Reality-TV': {
		'id': i++,
		'idStr': 'reality-tv'
	},
	'News': {
		'id': i++,
		'idStr': 'news'
	},
	'Film-Noir': {
		'id': i++,
		'idStr': 'film-noir'
	},
};
config.genres = [];
config.genresStrById = [];
config.genresStrUpById = [];
for (const k in genres) {
	genres[k].idStrUp = k;
	config.genresStrById[parseInt(genres[k].id)] = genres[k].idStr;
	config.genresStrUpById[parseInt(genres[k].id)] = genres[k].idStrUp;
	config.genres[parseInt(genres[k].id)] = genres[k];
	config.genres[genres[k].idStr] = genres[k];
	config.genres[genres[k].idStrUp] = genres[k];
}
module.exports = config;
